#content5-4 DIV {
  color: #0275d8;
}
#content4-a P {
  color: #0275d8;
}
#content4-a H4 {
  color: #0275d8;
}
#msg-box3-6 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-6 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-6 .mbr-section-title {
  color: #0275d8;
}
#msg-box3-6 .lead {
  color: #0275d8;
}
#slider2-c H2 {
  color: #fed5c5;
}
